body{
    background-image: url('../imagenes/fondo.png');
    border:red;
    width: 80%;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
}

#Contenedor{
}

#Cabecera{
    height:30%;
    margin-top: 10px;
    text-align: center;
}

#MenusLaterales{
    height:50%;
    float:left;
    width:20%;
}

#ContenidoCentral{
    min-height: 475px;
    height:50%;
    float:right;
    width:79%;
    margin-top: 20px;
}

#pie{
    height:20%;
    background-color:#D3D1C1;
    clear:both;
}
#MensajeBienvenida {
    
}
#footer{
    text-align:center;
    padding:10px;
    margin:0;
    border-top:1px solid #ddd;
    color:#999;
    font-size:0.8em;
    text-shadow:0px 1px 1px #fff;
    position: relative;
    top:0;
    left:0;
}